* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --color-fondo: steelblue;
    --anchura-desktop: 1000px;
}

header {
    background-color: var(--color-fondo);
    padding: 1rem;
       
    
    div {
        max-width: var(--anchura-desktop);
        margin: 0 auto;
        color: white;

        span {
            color: #f8c601;
        }
        
    }
}

h1 {
    font-size: 2.5rem;
}

main {
    max-width: var(--anchura-desktop);
    margin: 0 auto;
}

.card {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
        max-width: 200px;
    }

    img {
        width: 100%;
    }
}